.post {
	align-self: start;
	padding: 0 40px 0 20px;
	&__content{
		display: grid;
		grid-template-columns: 70px auto;
		grid-template-rows: 1fr 1fr 2fr 20px;
		gap: 10px;
		align-items: center;
		justify-content: center;
		align-content: center;
		grid-template-areas:
		 'a p'
		 'a t'
		 'b b'
		 'l l';
		.avatar{
			position: relative;
			grid-area: a;
			// grid-row: 1 / 2;
			margin: auto;
			&::after{
			content: '';
				position: absolute;
				width: 1px;
				height: 200%;
				top: 110%;
				left: 50%;
				background: rgb(237, 241, 245);
			}
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
		}
		.title {
			grid-area: p;
			font-size: 14px;
			span{
				color: rgb(17, 16, 16);
				font-weight: 600;
			}
		}
		
		.time {
			grid-area: t;
			width: 100%;
			display: flex;
			font-size: 13px;
			color: rgb(187, 187, 220);
		}
	}
		.body {
			grid-area: b;
			font-size: 18px;
			color: rgb(65, 67, 69);
			grid-column: 2;
		}
.likes{
	grid-area: l;
	font-size: 13px;
	grid-column: 2;
	color: inherit;
	&:hover{
		color: #000;
	}
}
}


