.users {
	&__container {
		max-width: 1400px;
		padding: 0 10px;
		margin: 0px auto;

		@media (max-width:1500px) {
			max-width: 1200px;
		}
	}
	&__content{
		display: grid;
		grid-template-columns: 70% auto;
		grid-template-areas:
		 's side'
		'u side';
		column-gap: 25px;
	}

	&__cards {
		position: relative;
		margin-top: 15px;
		grid-area: u;
		overflow: hidden;
		padding: 20px;
	}
}


.search {
	grid-area: s;
}

.sideblock {
	border-left: 1px solid rgb(237, 241, 245);
	grid-area: side;
	padding: 40px 0 0 20px;

	&__container {
		background: linear-gradient(to top left, rgb(245, 239, 252), white 70%, rgb(249, 246, 252));
		padding: 30px 20px;
		border-radius: 8px;
	}

	&__content {
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 7px;
		}
	}
	&__hashtag {
			display: inline-flex;
			align-items: center;
			gap: 8px;
			font-family: inherit;
			color: #2f2e2e;
			font-size: 14px;
			cursor: pointer;
			background: rgb(245, 238, 252);
			padding: 4px 10px;
			border-radius: 12px;
			&:hover{
				color: rgb(130, 36, 227);
				p{
					text-decoration: underline;
				}
			}

			span{
				background-color: #fff;
				border-radius: 50%;
				padding: 2px 6px;
			}
	}

	&__title {
		position: relative;
		font-family: "Quicksand";
		font-size: 20px;
		font-weight: 700;
		color: rgb(79, 81, 91);
		padding-bottom: 15px;
		margin-bottom: 30px;

		&::after {
			content: '';
			position: absolute;
			width: 30%;
			height: 2px;
			bottom: 0px;
			left: 0;
			background: #8c30e2;

		}
	}

	&__disclaimer {
		margin-top: 13px;

		ul {
			display: flex;
			gap: 8px;

			li {
				font-size: 12px;

				a {
					color: rgb(125, 127, 136);
				}
			}
		}
	}
}

