
.content {
	grid-area: n;
	background-color:rgb(248, 249, 251);
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
	border-right: 1px solid rgb(237, 241, 245);
	height: 100vh;
}
.logo {
	padding: 10px;
	width: 100%;
	background-color: rgb(56, 58, 69);
	img{
		width: 40px;
	}
}

.nav {
	display: flex;
	flex-direction: column;
	gap: 40px;
	a{
		border: 1px solid black;
	}

	img {
		width: 25px;
		height: 25px;
	}
}

// .item{
// 	color: white;
// 	font-size: 23px;
// 	font-weight: 500;
// }



