

.container {
	max-width: 1400px;
	padding: 0 10px;
	margin: 0px auto;
	overflow: hidden;
	height: calc(100vh - var(--header-height));;
	@media (max-width:1500px) {
		max-width: 1200px;
	}
}

.content {
}


.body {
	display: flex;
}

.body__dialogs{
	flex: 0 1 25%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 40px 0 0 40px;
	border-right: 1px solid rgb(237, 241, 245);
	height: calc(100vh - 120px);
	overflow: scroll;
	scrollbar-width: 0;
}

.body__dialogs::-webkit-scrollbar {
	display: none;
}
.body__messages::-webkit-scrollbar {
	display: none;
}

.body__messages{
	position: relative;
	flex: 1 1 auto;
	padding: 40px 40px 0 40px;
	border-right: 1px solid rgb(237, 241, 245);
	height: calc(100vh - 120px);
	overflow: scroll;
	>*:not(:last-child) {
		margin-bottom: 10px;
	}
}

.body__recent {
	flex: 0 1 22%;
	padding: 40px 0 0 20px;
	h3 {
		position: relative;
		font-family: "Quicksand";
		font-size: 20px;
		font-weight: 700;
		color: rgb(79, 81, 91);
		padding-bottom: 15px;
		margin-bottom: 30px;
		&::after {
			content: '';
			position: absolute;
			width: 30%;
			height: 2px;
			bottom: 0px;
			left: 0;
			background: #8c30e2;
			
		}
	}
}

.recent__container {
	background: linear-gradient(to top left, rgb(245, 239, 252), white 70%, rgb(249, 246, 252));
	padding: 30px 20px;
	border-radius: 8px;
}
.recent__content{
	ul{
		>*:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}
.recent__chat {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;
	span {
		font-size: 18px;
		font-weight: 500;
		color: rgb(79, 81, 91);
	}
	svg{
		width: 15px;
		height: 15px;
	}
}
.recent__disclaimer{
	margin-top: 13px;
	ul{
		display: flex;
		gap: 8px;
		li{
			font-size: 12px;
			a{
				color: rgb(125, 127, 136);
			}
		}
	}
}

.messageCreate {
	position: sticky;
	bottom: 0;
	// margin-top: 30px;
	border-top: 1px solid rgb(237, 241, 245);
	background: #fff;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	&__content {
		padding: 0 20px;
	}

	&__body {

		display: flex;
		align-items: center;
		gap: 10px;

		textarea {
			width: 100%;

			// min-width: 450px;
			border: 1px solid rgb(129, 29, 222);
			padding: 10px;
			border-radius: 8px;
		}

		button {
			display: flex;
			justify-self: center;
			align-items: center;
			background: linear-gradient(to right, rgb(189, 139, 237), rgb(129, 29, 222));
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
			color: #fff;
			padding: 2px 28px;
			height: 40px;
			border-radius: 18px;
			transition: all 0.7s ease 0s;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__icons {
		margin-top: 8px;
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: flex-start;

	}

	&__icon {
		cursor: pointer;

		svg {
			width: 20px;
			height: 20px;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	.filter {}
}

