.container {
	max-width: 1400px;
	padding: 0 10px;
	margin: 0px auto;

	@media (max-width:1500px) {
		max-width: 1024px;
	}
}

.content {
	display: grid;
	grid-template-rows: auto auto;

}

.search {
	padding: 15px 0;
	border-bottom: 1px solid rgb(237, 241, 245);
	display: flex;
	align-items: center;
	gap: 10px;

	&__icon {
		width: 30px;
		height: 30px;
		background: linear-gradient(to top left, rgb(189, 139, 237), rgb(129, 29, 222));
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		svg{
			width: 15px;
			height: 15px;
			fill: white;
		}
	}

	input{
		border: 1px solid rgb(237, 241, 245);
		border-radius: 20px;
		padding: 6px 10px;
		min-width: 200px;
		font-size: 17px;
		&::placeholder{
			font-weight: 500;
			
		}
	}
}

.body {
	display: flex;
}

.body__dialogs{
	flex: 0 1 30%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 40px 0 0 40px;
	border-right: 1px solid rgb(237, 241, 245);
}



.body__messages{
	flex: 0 1 70%;
	padding: 40px 60px;
	>*:not(:last-child) {
		margin-bottom: 15px;
	}
}

